<div class="product-container">
  <div class="image-container" [routerLink]="['/details', id]">
    <img
      class="product-img"
      width="150px"
      height="150px"
      class="product-img"
      [src]="image"
      alt=""
    />
  </div>
  <p class="product-name">{{ name }}</p>
  <p class="product-price">{{ price }}</p>
  <!-- Input field in the home page -->
  <input
    *ngIf="path === '/'"
    [(ngModel)]="amount"
    class="product-quantity"
    type="number"
    [placeholder]="amounts[id - 1]"
  />

  <!-- Input field in the cart page -->
  <input
    *ngIf="path === '/cart'"
    [(ngModel)]="amount"
    class="product-quantity"
    type="number"
    [placeholder]="amounts[id - 1]"
    (change)="addToCart()"
  />

  <!-- button for the home page -->
  <button *ngIf="path === '/'" (click)="addToCart()">Add to cart</button>
</div>
<div></div>
