<div class="product-container">
  <div class="image-container" [routerLink]="['/details', id]">
    <img
      class="product-img"
      width="150px"
      height="150px"
      class="product-img"
      [src]="image"
      alt=""
    />
  </div>
  <p class="product-name">{{ name }}</p>
  <p class="product-price">{{ price | currency: "EGP" }}</p>
  <!-- Input field in the home page -->
  <input
    [(ngModel)]="amount"
    class="product-quantity"
    type="number"
    [placeholder]="amounts[id - 1]"
    max="30"
    min="0"
  />
  <br />
  <br />
  <!-- button for the home page -->
  <button (click)="addToCart()">Add to cart</button>
</div>
<div></div>
